body {
  text-align: center;
  font-family: sans-serif;
  
}

h1 {
  font-size: 60px;
  background-color: rgb(209, 195, 235);
  padding: 40px;
  margin: auto;
}

.md-button{
  background-color: rgb(171, 124, 185);
  border-radius: 4px;
}

.md-button:not([disabled]):hover{
  background-color: rgb(209, 195, 235);
}
