.jumbotron{
  background-color: #cdaae6 !important;
  font-size: 60px;
  text-align: center;
}

.container {
  text-align: center;
}

.output {
  text-align: center;
  padding: 10px;
}

.form-group {
  text-align: center;
}
